@model IEnumerable<ViceArmory.ResponseObject.Product.ProductResponseDTO>

@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/Admin/Views/Shared/_ALayout.cshtml";
}

<h1>Product List</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="icon-pencil icon-white"></i>
        <span>
            <strong>Create New</strong>
        </span>
    </a>
</p>

<div class="form-group col-md-12">
    <div class="col-sm-12">
        <table id="datatableArmory" class="dataTable table-bordered datatable-grid " width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsWeeklyAdvertise)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if(!String.IsNullOrEmpty(item.ProductImage))
                        {
                        <img class="imgProduct" src="@item.ProductImage" alt="image" />
                        }
                        else
                        {
                        <span>image not available</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsWeeklyAdvertise)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
