<section class="contact_section" id="contact-section" style="background-image:url(../images/background/6.jpg);">
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
    <div class="auto-container">
        <!--Contact Info-->
        <div class="contact-info">
            <div class="row clearfix">
                <!--Info Column-->
                <div class="title-style-three">
                    <h1><span class="lined-text">CONTACT </span> <span class="bg-text">Us</span></h1>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb20-xs">
                    <div class="sidebar footer_box">
                        <div class="sidebar-widget tags-widget">
                            <div class="sidebar-title text-left">
                                <h3>NATIONAL BOARD OF ACCREDITATION</h3>
                            </div>
                            <div class="widget-inner">

                                <ul class="tags-list clearfix">
                                    <li><a href="#">Publications</a></li>
                                    <li><a href="#">Training Programmes</a></li>

                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">Jobs @@ NBA</a></li>
                                    <li><a href="#">Tender</a></li>
                                    <li><a href="#">RTI</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="@Url.Content("~/")contact">Contact Us</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Info Column-->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb20-xs">
                    <div class="sidebar footer_box">
                        <div class="sidebar-widget category-widget">
                            <div class="sidebar-title text-left">
                                <h3>IMPORTANT LINKS </h3>
                            </div>
                            <div class="widget-inner">
                                <ul class="archive-list text-left">
                                    <li><a href="@Url.Content("~/")Home">Home</a></li>
                                    <li><a href="mailto:membersecretary@nbaind.org">Webmaster</a></li>
                                    <li><a href="@Url.Content("~/")disclaimer">Disclaimer</a></li>
                                    <li><a href="@Url.Content("~/")copyright">Copyright Policy</a></li>
                                    <li><a href="@Url.Content("~/")hyperlinkpolicy">Hyperlink Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Info Column-->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar footer_box">
                        <div class="sidebar-title text-left">
                            <h3>Contact US</h3>
                        </div>
                        <ul class="text-left contactBox_ul">
                            <li><i class="fa fa-building"></i> National Board of Accreditation</li>
                            <li><i class="fa fa-map-marker"></i> 4th floor, East Tower, NBCC Place, Bhisham Pitamah Marg Pragati Vihar, New Delhi 110003, INDIA</li>
                            <li><i class="fa fa-phone"></i> 011 24360620 - 22</li>
                            <li><i class="fa fa-fax"></i> 011 43084903</li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:membersecretary@nbaind.org">membersecretary@nbaind.org</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="copyright">&copy;2019 National Board of Accreditation (NBA), India. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</section>
